body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    padding: 80px 20px;
    text-align: center;
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
}

#services, #portfolio, #contact {
    padding: 60px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}sssss